<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Hoteleiro.Properties.Settings.AthenasConnectionString"
            connectionString="Data Source=DESKTOP-EPJFRJN\SQLEXPRESS;Initial Catalog=Athenas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>